@import '~@blueprintjs/core/lib/css/blueprint.css';

.form{
    position: absolute;
    top: 350px;
    left: 50%;
    width: 500px; 
    height: 400px; 
    background-color: white;
    padding: 5px;
    transform: translate(-50%,-50%);
}
span:hover{
    color: whitesmoke;
}
.cross{
    position: relative;
    left: 30%;
    margin-right: 10px;
    cursor: pointer;
  }
.btn{
    display: flex;
    justify-content: center;
    padding: 5px;
    margin-top: 5px;
    background-color:green;
    width: 98%;
    margin-left: 5px;
    margin-right: 2px;
}
.btn:disabled{
    background-color: gray;
}
h3{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.inp>input{
    padding: 10px;
    margin: 5px;
}
.inp{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.hel{
    top: 35%;
    background-color: rgb(255, 255, 255);
    height: 120px;
    width: 350px; 
    justify-content: center;
    padding: 5px;
  }
.hel>button{
    background-color: green;
    color: white;
    height: 35px;
    margin-left: 5px;
    border-radius: 10px;
    padding: 3px;
}
.hel>input{
    padding: 5px;
    margin-left: 50px;
}
@media only screen and (max-width:700px) {
    .inp{
        display: block;
        margin: 0 auto;
    }
    .form{
        top: 325px;
        width:350px;
        height: 550px;
        margin-left: 100px;
        margin:auto;
    }
    .inp>input{
        width: 300px;
        display:block;
        margin: 0 auto;
        margin-bottom: 5px;
    }
    h3{
       font-size: 15px;
    }
    .hel{
        top: 35%;
        background-color: rgb(255, 255, 255);
        height: 120px;
        width: 350px; 
        justify-content: center;
        padding: 5px;
      }
}